.footer {
  padding-top: 122px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
}

.footer-list__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-list__link {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 700;
}

.footer-social__title {
  margin-bottom: 39px;

  color: var(--color-text);
  font-size: 16px;
  font-weight: 700;
}
.footer-social__icon {
  display: flex;
  gap: 20px;
}

.footer-desc {
  margin-bottom: 59px;
  margin-top: 50px;
  text-align: center;

  color: var(--color-text);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.82px;
}
