.hero {
  
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 88px;
}
.hero-text {
  max-width: 495px;
}
.hero__title {
  color: var(--color-text);
  font-size: 46px;
  font-weight: 700;
span{
    background: var(--text-gradiet) ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    font-weight: 700;
  }
}
.hero__desc {
  max-width: 450px;
  margin-top: 38px;
  margin-bottom: 66px;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
}
.hero-btn{
  display: flex;
  gap: 11px;
  align-items: center;
}
.hero__button{
  width: 214px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 40px;
  background: var(--button-bg);

  color: var(--button-text);
  font-size: 12px;
  font-weight: 700;
}
.hero-img__mask {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 524px;
  height: 455px;
  border-radius: 100px 100px 100px 240px;
  background: rgba(0, 0, 0, 0.13);
  
}
.hero__img {
  max-width: 490px;
  height: 426px;
  border-radius: 100px 100px 100px 240px;
  overflow: hidden;
  

}
.hero__avatar {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  margin-top: -25px;
  transform: scale(1.11)

  
}

.hero-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 167px;
  border-radius: 90px;
  background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}
.contact__location {
  display: flex;
  max-width: 360px;
  align-items: center;
  margin-right: 42px;
}

.contact__description{
  display: grid;
  column-gap: 9px;

}
.contact__visit {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact__location-point {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
}

.contact__phone {
  display: flex;
  gap: 29px;
}
.contact__call {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
}
.contact__number {
  color: var(--color-text);
  font-size: 14px;
  font-weight: 400;
}

.contact__mail {
  display: flex;
  align-items: center;
  gap: 23px;

  a{
    color: var(--color-text);
    font-size: 14px;
    font-weight: 400;
  }
}
.contact__massage {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 9px;
}

.contact__mail-wrapper{

}