:root {
  --color-text: #fff;
  --text-gradiet: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
  --accent: rgba(255, 255, 255, 0.95);



  --text-button: #343045;
  --button-bg: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}
